.schemeBlue{
    color: #5771ff;
}

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }

.greyBorder{ border: 3px solid grey;
        padding: 1em;
}