.slideshow{
    height:20em;
    color:white;
}

#homeBody{
    text-align:center;
}

#connected{
    color:green;
}

#error{
    color:red;
}

#signOut{
    margin-left:1em;
}

#signIn{
    margin-left:1em;
}

#overviewSchedule{
    margin-left:auto;
    margin-right:auto;
}

#tableHolder{
    margin-left:auto;
    margin-right:auto;
    overflow-x:auto;
    width:80%;
}

td#day1, td#w1{
    border-right:solid 1px;
}

td{
    width:10em;
}

.event{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:8px;
}

.blackBottom{
    border-bottom:3px solid black;
}

.blackTop{
    border-top:3px solid black;
}

.orangeBottom{
    border-bottom:3px solid orange;
}

.orangeTop{
    border-top:3px solid orange;
}