.slideshow{
    height:20em;
    color:white;
}

#homeBody{
    text-align:center;
}

#connected{
    color:green;
}

#error{
    color:red;
}

#signOut{
    margin-left:1em;
}

#signIn{
    margin-left:1em;
}

#overviewSchedule{
    overflow-x:auto;
    width:40em;
    margin-left:auto;
    margin-right:auto;
}

#day td{
    /*width:10em;*/
}