<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" />
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
	<div class="container" style="height:100%;">
		<div class="text-center" style="margin-top: 30%;">
			<h1>Setup SSS</h1>
			<br/><br/><br/>
			<!--
			<a class="btn btn-default btn-lg" href="{{ url_for('generate') }}">Click me to Setup SSS</a>
			-->
			<h3>Please run SETUP file on Desktop<br>Please click Execute in Terminal<br>Then refresh this website</h3>
		</div>
	</div>
</body>
</html>

