<html>
<head>

<html>
<head>
	<script src="{{ url_for('static', filename='js/jquery-1.12.0.min.js') }}"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" />
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/processing.css') }}" />
	


	<script>
		function ajaxCallback(data) {
			if (data.done) {
				window.location.replace("http://sjroh.github.io/MySprinkler2");
			} else {
				window.setTimeout(function() {
					$("#processing").append(".");
					$.getJSON('{{url_for('is_done')}}', {id:'{{id}}'}, ajaxCallback);
				}, 3000);
			}
		}
		$(document).ready(function(){
			ajaxCallback({done:false});
		});
	</script>
</head>
<body>
	<div class="container" style="height:100%;">
		<div class="text-center" style="margin-top: 25%;">
			<h1>Processing Setup</h1>
			<br/><br/><br/>
			<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
			<br/><br/><br/>
			<span id='processing'>Processing</span>
		</div>
	</div>
</body>
</html>