.slideshow{
    height:20em;
    color:white;
}

.blueButton {
    -moz-box-shadow: 0px 0px 0px 2px #000000;
    -webkit-box-shadow: 0px 0px 0px 2px #000000;
    box-shadow: 0px 0px 0px 2px #000000;
    background-color:#00658a;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:19px;
    padding:12px 37px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
}
.blueButton:hover {
    background-color:#043547;
}
.blueSelected{
    background-color:#043547;
}
.blueButton:active {
    position:relative;
    top:1px;
}

#homeBody{
    text-align:center;
}


p {
    border: 1px solid grey;
	border-radius: 15px;
    padding: 10px;
	font-size:20px;
}

#signOut{
    margin-left:1em;
}

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#00658a;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
			width:150px;
        }
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#a7cce5;
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:15px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#00658a;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }
		
	

/***********************
  CUSTOM BTN VALUES
************************/

	.btn-primary {
	background: #ffffff;
	color: black;
	font-size:20px;
	border-radius:10px;
	width: 150px;
	}
	
	.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
		background: #a7cce5;
		color: black;
	}
	
	
	
	
	



	

 
